/*
----------------------------------------------------------------------------
"Primitive" design tokens for dynamic theming.
----------------------------------------------------------------------------
*/
:root {
    --theme-color-primary: #455b97;
    --theme-color-primary-hover: #324371;
    --theme-color-secondary: #449b9b;
    --theme-color-secondary-hover: #317474;
}
