@use 'globals';

textarea {
    width: 100%;
    background: globals.$input-background;
    border: globals.$border-thickness solid globals.$borders;
    box-sizing: border-box;
    border-radius: globals.$text-border-radius;
    padding: .5em;
    min-height: 100px;
    color: globals.$input-text;
    overflow-y: auto;
}

textarea:active,
textarea:focus,
textarea:hover {
    outline: none;
}

textarea:focus  {
    border-color: globals.$theme-primary;
}

textarea:focus-visible,
textarea:focus-within  {
    outline: none;
    border-color: globals.$theme-primary;
}


// global style for focused controls
.focus-control {
    textarea:focus {
        box-shadow: globals.$drop-shadow;
    }
}