@use 'globals';

$default-text-width: 120px;

.a-input-thumbtop {
    input {
        padding-bottom: 8px;
        border: none;
        border-bottom: globals.$border-thickness solid globals.$borders;
        text-align: center;
        color: globals.$input-text;
        margin: 0 0 .4em 0;
        width: 60px;
        background-color: globals.$input-background;
        box-sizing: content-box;
    }

    input.read-only:focus-visible {
        outline: none;
    }

    /* This following rule shouldn't be necessary, as ready-only elements shouldn't get focus,
     * however I have observed Firefox adding an outline and this prevents that behaviour  */
    input:read-only:focus-visible {
        outline: none;
    }

    input[readonly]:focus-visible {
        outline: none;
    }

    &:not([readonly]):hover,
    &:not([readonly]):focus {
        //color: globals.$borders-active;
    }

    &:not([readonly]):focus {
        outline: none;
        border: globals.$border-thickness solid globals.$theme-primary;
    }
}

/* IE10 does not support :read-only selector */
.read-only .a-input-thumbtop,
.a-input-thumbtop.read-only {
    border-color: globals.$borders-light !important;
    cursor: default;
}