@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

@font-face {
    font-family: "KarlaLocal";
    src: url("/Survey/fonts/formal/karla-v30-latin-regular.eot");
    src: url("/Survey/fonts/formal/karla-v30-latin-regular.woff"),
         url("/Survey/fonts/formal/karla-v30-latin-regular.ttf") format("truetype");
}

@font-face {
    font-family: "MerriweatherLocal";
    src: url("/Survey/fonts/formal/merriweather-v30-latin-regular.eot");
    src: url("/Survey/fonts/formal/merriweather-v30-latin-regular.woff"),
         url("/Survey/fonts/formal/merriweather-v30-latin-regular.ttf") format("truetype");
}

@font-face {
    font-family: "RubikLocal";
    src: url("/Survey/fonts/formal/rubik-v28-arabic_latin-regular.eot");
    src: url("/Survey/fonts/formal/rubik-v28-arabic_latin-regular.woff"),
         url("/Survey/fonts/formal/rubik-v28-arabic_latin-regular.ttf") format("truetype");
}
