@font-face {
    font-family: "Karla";
    src: url("/Survey/fonts/karla-v30-latin-regular.eot");
    src: url("/Survey/fonts/karla-v30-latin-regular.woff"),
         url("/Survey/fonts/karla-v30-latin-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather";
    src: url("/Survey/fonts/merriweather-v30-latin-regular.eot");
    src: url("/Survey/fonts/merriweather-v30-latin-regular.woff"),
         url("/Survey/fonts/merriweather-v30-latin-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik";
    src: url("/Survey/fonts/rubik-v28-arabic_latin-regular.eot");
    src: url("/Survey/fonts/rubik-v28-arabic_latin-regular.woff"),
         url("/Survey/fonts/rubik-v28-arabic_latin-regular.ttf") format("truetype");
}
