// theme defaults and colours

$primary-font: "Karla", "KarlaLocal", sans-serif;
$secondary-font: "Merriweather", "MerriweatherLocal", serif;
$rtl-font: "Rubik", "RubikLocal", serif;

$theme-primary: #455B97;
$theme-primary-hover: #324371;
$theme-secondary: #449B9B;
$theme-secondary-hover: #317474;

$white: #FAFAFA;
$lightest: #F2F8FE;
$light1: #ECEFF5;
$light2: #D6DDEB;
$light3: #B4BDDB;
$light4: #8797C8;
$dark1: #57699C;
$dark2: #324371;
$darkest: #212C4C;

$information: #4B79B6;
$success: #469B9B;
$warning: #D4AA49;
$error: #DA2911;

$other0: #5B2771;
$other1: #7A3996;

$background: $white;

$borders: $light4;
$borders-active: $theme-primary;
$borders-light: $light2;
$labels: $dark2;
$titles: $darkest;

$placeholder: #6B5B72;
$input-text: $theme-secondary;
$input-background: #FFFFFF;
$pre-post-text: $theme-primary-hover;
$disabled-text: $theme-secondary;
$disabled-background: $light1;

$standard-font-size: 16px;
$standard-font-weight: 400;

$small-font-size: 12px;

$standard-line-height: 19px;

$border-thickness: 1px;
$text-border-radius: 2px;
$border-radius: 4px;
$border-radius-small: 2px;
$drop-shadow: 0 11px 11px -9px rgba(0, 0, 0, 0.25), 0 -11px 11px -9px rgba(49, 46, 46, 0.25);

$min-device-width: 375px;
$min-page-margin: 16px;
$min-display-width: $min-device-width - ($min-page-margin*2);
$max-display-width: 1660px;
$default-input-width: 197px;