@use 'globals';

.o-structure-table {
    ul.m-list {
        max-width: none;
    }
}

ul.m-list {
    max-width: 100%;
    list-style-type: none;
    margin: -1px 0 4px 0;
    padding: 0 0 8px 0;
    border: globals.$border-thickness solid globals.$theme-primary;
    background-color: globals.$input-background;
    position: fixed;
    max-height: 300px;
    overflow-y: auto;
    z-index: 10;
    min-width: 3em;
    left: -9999px;

    &.charrestriction {
        li:not(.a-list-placeholder-restriction) {
            display: none;
        }

        li.a-list-placeholder-restriction {
            display: block;
            padding: 12px 16px 4px 16px;
        }
    }

    &.empty {
        li.a-list-placeholder-empty {
            display: block;
            padding: 12px 16px 4px 16px;
        }
    }

    li.a-list-placeholder-empty {
        display: none;
    }

    li.a-list-placeholder-restriction {
        display: none;
    }

    &.visible {
        left: auto;
    }

    li {
        padding: 4px 16px;
        cursor: default;
        text-align: left;
    }

    li:not(.filter-hidden) {
        padding-top: 12px;
    }

    li:not(.filter-hidden) ~ li {
        padding-top: 4px;
    }

    li:hover {
        color: globals.$theme-primary-hover;
    }

    li.selected {
        color: globals.$theme-secondary;
    }

    li.filter-hidden {
        display: none;
    }
}

.o-question-response.direction-down ul {
    border-bottom-left-radius: globals.$text-border-radius;
    border-bottom-right-radius: globals.$text-border-radius;
}

.o-question-response.direction-up ul {
    border-top-left-radius: globals.$text-border-radius;
    border-top-right-radius: globals.$text-border-radius;
}

html[dir="rtl"] {
    ul.m-list {
        li {
            text-align: inherit;
        }
    }
}

.focus-control {
    ul.m-list {
        box-shadow: 0 11px 11px -9px rgba(0, 0, 0, 0.25);
    }
}