
    .m-list-messages{
        height: 37px;
        background: white;
        text-align: right;
        position: fixed;
        border-top: 2px solid #212C4C;
        padding-top: 20px;
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
        box-shadow: 0 11px 11px -9px rgba(0, 0, 0, 0.25);
        
    }
 

    .a-label-counter-prompt {
        margin-right: 20px;
    }

    .o-question-selected {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 50px;
        margin-bottom: 10px;
    }

    .m-tag-answer {
        background-color: #f0f0f0;
        border-radius: 5px;
        padding: 5px 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 5px;
        margin: 20px 0;
    }

    .m-tag-answer span {
        font-size: 16px;
    }

.delete-tag {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.o-list.empty ul {
    display: none;
}

.o-list{
    position: absolute;
    background-color: green;
}

.o-list .o-combobox ul,
.o-combobox ul.visible{
    position: relative !important;
}