@use 'globals';

.m-option-base {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 4px;
    margin-right: 1em;
}

html[dir="rtl"] .m-option-base {
    margin-right: 0;
    margin-left: 1em;
}

.m-option-base[data-position="below"],
.m-option-base.below {
    display: table;
}

.filter-hidden {
    display: none;
}

input + script ~ .m-option-base,
span.m-input-singlelineedit + script ~ .m-option-base {
    margin-top: .5em;
    margin-left: 1em;
}

html[dir="rtl"] input + script ~ .m-option-base,
span.m-input-singlelineedit + script ~ .m-option-base {
    margin-left: 0;
    margin-right: 1em;
}

.m-option-base:first-child,
.m-option-base:nth-last-of-type(1) {
    margin-bottom: 0;
}

.balance .m-option-base:nth-last-of-type(1),
.balance.one-size .m-option-base:nth-last-of-type(1) {
    margin-bottom: 4px;
}

.balance {
    .m-option-base {
        flex: 0 1 auto;
        margin-right: 1em;
    }
}

html[dir="rtl"] .balance {
    .m-option-base {
        margin-right: 0;
        margin-left: 1em;
    }
}