@use 'globals';

.o-dropdown-thumbbottom {
    select {
        appearance: none;
        background-color: transparent;
        border: none;
        padding: 0 1em 0 0;
        margin: 0;
        width: 100%;
        font-family: inherit;
        font-size: inherit;
        cursor: inherit;
        line-height: inherit;
        background-image: url("/Survey/images/formal/chevron-open.svg");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: -2px;
    }

    select::-ms-expand {
        display: none;
    }

}