@use 'globals';

:root {
    --track-background-fill: #{globals.$theme-secondary};
    --track-thumb-image: url("/Survey/images/formal/range-thumb-default.svg");
    --track-thumb-image-selected: url("/Survey/images/formal/range-thumb-default.svg");
    --track-thumb-width: 40px;
    --track-thumb-height: 40px;
}

// question response-level container
.o-question-datetime-recent {
    overflow: visible;
}

.o-question-datetime-recent-slider {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: .5em;
    min-width: globals.$min-display-width;

    &:focus,
    &:focus-visible,
    &:focus-within {
        .a-style-sliderborder {
            box-shadow: 0 11px 11px -6px rgba(0, 0, 0, 0.25), 0 -11px 11px -6px rgba(49, 46, 46, 0.25);
        }

    }

    &.has-value {
        input[type=range]::-webkit-slider-thumb {
            visibility: visible;
        }

        input[type=range]::-moz-range-thumb {
            visibility: visible;
        }

        input[type=range]::-ms-thumb {
            visibility: visible;
        }
    }

    &.has-thumb-value {
        padding-top: 1em;
    }

    &.has-pre-label,
    &.has-post-label {
        padding-bottom: 0.8em;
    }

    &.has-tick-labels {
        padding-top: 1.8em;
    }

    &.inactive {
        .a-style-sliderclickablearea {
            display: block;
        }
    }

    & > div {
        flex-grow: 1;
    }
}

.m-slider-date {
    position: relative;
    flex: 1 0 auto;
}

.m-slider-date[style*="width"] {
    flex: 0 0 auto;
}

.a-style-sliderborder {
    box-sizing: border-box;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 24px;
    border: globals.$border-thickness solid globals.$borders;
    border-radius: 10px;
    top: 12px;
    background: white;
}

.a-style-sliderclickablearea {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: none;
}

input[type=range] {
    position: relative;
    z-index: 3;
    width: calc(100% - 12px);
    left: 6px;
    height: 48px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    -webkit-appearance: none;
    border: none;
    box-shadow: none !important;
}

html[dir="rtl"] input[type=range] {
    left: auto;
    right: 6px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: transparent;
    border: 0;
    border-radius: 24px;
    width: 100%;
    height: 16px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: var(--track-thumb-width);
    height: var(--track-thumb-height);
    border: none;
    background-color: transparent;
    background-image: var(--track-thumb-image);
    background-size: cover;
    background-position: center;
    box-shadow: none;
    margin-top: -11px;
    z-index: 4;
    visibility: hidden;
}

input[type=range]::-moz-range-thumb {
    width: var(--track-thumb-width);
    height: var(--track-thumb-height);
    border: none;
    background-color: transparent;
    background-image: var(--track-thumb-image);
    background-size: cover;
    background-position: center;
    box-shadow: none;
    z-index: 4;
    visibility: hidden;
}

input[type=range]::-ms-thumb {
    width: 40px;
    width: var(--track-thumb-width);
    height: 40px;
    height: var(--track-thumb-height);
    border: none;
    background-color: transparent;
    background-image: url("/Survey/images/formal/range-thumb-default.svg");
    background-image: var(--track-thumb-image);
    background-size: cover;
    background-position: center;
    box-shadow: none;
    margin-top: 0px;
    z-index: 4;
    visibility: hidden;
}

.active input[type=range]::-webkit-slider-thumb {
}

.active input[type=range]::-webkit-slider-thumb:hover {
    //background-image: var(--track-thumb-image-selected);
}

.active input[type=range]::-moz-range-thumb {
}

.active input[type=range]::-moz-range-thumb:hover {
    //background-image: var(--track-thumb-image-selected);
}

.active input[type=range]::-ms-thumb {
}

.active input[type=range]::-ms-thumb:hover {
    //background-image: url("/Survey/images/formal/range-thumb-default.svg");
    //background-image: var(--track-thumb-image-selected);
}

input[type=range]:focus::-webkit-slider-runnable-track {
}

.has-value .flood-to-value::-webkit-slider-runnable-track {
    background: var(--track-background-fill);
}

input[type=range]::-moz-range-track {
    background: transparent;
    border: 0;
    border-radius: 22px;
    width: 100%;
    height: 16px;
}

.has-value .flood-to-value::-moz-range-track {
    background: var(--track-background-fill);
    height: 16px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

html[dir="rtl"] .has-value .flood-to-value::-moz-range-track {
    border-radius: 0 16px 16px 0;
}

input[type=range]::-ms-tooltip {
    display: none;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 5px 0;
    color: transparent;
    width: 100%;
    height: 16px;
    border-radius: 16px;
}

input[type=range]::-ms-fill-lower {
    background: transparent;
    border-radius: 16px;
}

.has-value .flood-to-value::-ms-fill-lower {
    background-color: globals.$theme-secondary !important;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

html[dir="rtl"] .has-value .flood-to-value::-ms-fill-lower {
    border-radius: 0 16px 16px 0;
    transform: translateZ(0);
}

input[type=range]::-ms-fill-upper {
    background: transparent;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

html[dir="rtl"] input[type=range]::-ms-fill-upper {
    border-radius: 16px 0 0 16px;
}

input[type=range]:focus {
    border: none;
}

input[type=range]:focus::-ms-fill-lower {
    background: transparent;
}

.has-value .flood-to-value:focus::-ms-fill-lower {
    background: globals.$theme-secondary !important;
}

@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from https://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}

.m-slider-thumb-interactive {
    box-sizing: border-box;
    color: globals.$titles;
    position: absolute;
    top: 3em;
    visibility: hidden;
    transform: translateX(-50%);
    text-align: center;
    padding: 8px;
    border: globals.$border-thickness solid globals.$borders;
    border-radius: globals.$border-radius;
    background-color: white;
    z-index: 1;
}

.active.has-value .m-slider-thumb-interactive {
    visibility: visible;
}