@use 'globals';

$shade-colour: globals.$light2;
$separator-colour: globals.$titles;

/* MOTE: the separator color used within tables is defined
 * in JavaScript - o-question-grid.js */

.o-structure-table {
    border-collapse: collapse;

    tr.m-structure-row {
        border-top: globals.$border-thickness solid $separator-colour;
    }

    tr.m-structure-row ~ tr.m-structure-row {
        border-top: none;
    }

    &.shade-headercolumn {
        th[scope=row],
        td[scope=row] {
            background-color: $shade-colour;
            border-top-left-radius: globals.$border-radius;
            border-bottom-left-radius: globals.$border-radius;
        }
    }

    &.shade-altcolumns {
        td:nth-child(even),
        th:nth-child(even) {
            background-color: $shade-colour;
        }

        tr:first-child td,
        tr:first-child th {
            border-top-left-radius: globals.$border-radius;
            border-top-right-radius: globals.$border-radius;
        }

        tr:last-child td {
            border-bottom-left-radius: globals.$border-radius;
            border-bottom-right-radius: globals.$border-radius;
        }
    }

    &.shade-headerrow {
        th[scope=col],
        td[scope=col] {
            background-color: $shade-colour;
            border-top-left-radius: globals.$border-radius;
            border-top-right-radius: globals.$border-radius;
        }
    }

    &.shade-altrows {
        tr.striped {
            td,
            th {
                background-color: $shade-colour;
            }

            td:first-child,
            th:first-child {
                border-top-left-radius: globals.$border-radius;
                border-bottom-left-radius: globals.$border-radius;
            }

            td:last-child {
                border-top-right-radius: globals.$border-radius;
                border-bottom-right-radius: globals.$border-radius;
            }
        }

        tr.striped + tr.striped {
            td:first-child,
            th:first-child {
                border-top-left-radius: 0;
            }

            td:last-child {
                border-top-right-radius: 0;
            }
        }

        tr.m-structure-row-error.striped {
            th, td {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    th {
        font-weight: normal;
    }

    .grid-row-total-title,
    .grid-column-total-title {
        color: globals.$titles;
    }

    /* the empty-header-row class is added programmatically when the system detects a row
     * that contains headers but is entirely empty - in these cases there should be no border
     */
    tr.empty-header-row {
        display: none;
    }

    /* may remove the following styles if display: none above is the appropriate solution */
    tr.empty-header-row th,
    tr.empty-header-row td {
        border: 0 !important;
    }

    .grid-column-total-title,
    .grid-column-total,
    .grid-grandtotal {
        border-top: globals.$border-thickness solid $separator-colour;
    }

    .grid-row-total-title,
    .grid-row-total,
    .grid-grandtotal {
        border-left: globals.$border-thickness solid $separator-colour;
        vertical-align: top;
    }

    .grid-row-total,
    .grid-grandtotal {
        text-align: right;
    }

    .grid-row-total,
    .grid-column-total,
    .grid-grandtotal {
        white-space: nowrap;
    }

    .grid-grandtotal {
        padding-top: 0.5em;
    }

    caption {
        caption-side: top;
        text-align: left;
        margin-bottom: .5em;
    }

}

html[dir="rtl"] {
    .o-structure-table {

        .grid-row-total-title,
        .grid-row-total,
        .grid-grandtotal {
            border-right: globals.$border-thickness solid $separator-colour;
        }

        .grid-row-total,
        .grid-grandtotal {
            text-align: inherit;
        }

        caption {
            text-align: inherit;
        }
    }
}

html:not([dir]) .grid-column-total span {
    padding-right: 0;
}

html[dir="rtl"] .grid-column-total span {
    padding-left: 0;
}

/* additional padding to allow for the presence of a number
 * 'spinner' control in input cells above the total */
.show-spinner .grid-column-total span {
    padding-right: 28px;
}

html[dir="rtl"] .show-spinner .grid-column-total span {
    padding-right: 0;
    padding-left: 28px;
}