@use 'globals';

:root {
    --combobox-padding-top: 10px;
    --combobox-padding-bottom: 10px;
    --combobox-height: 19px;
}

.o-combobox {
    input[type=text] {
        max-width: 100%;
        padding: 10px 16px;
        padding: var(--combobox-padding-top) 16px;
        border-radius: globals.$text-border-radius;
        border: globals.$border-thickness solid globals.$borders;
        color: globals.$theme-primary;
        min-width: 3em;
        height: var(--combobox-height);
        background-color: globals.$input-background;
        box-sizing: content-box;
        text-overflow: ellipsis;

        &.exact {
            color: globals.$input-text
        }
    }

    input:focus {
        border-color: globals.$theme-primary;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    input:focus-visible {
        outline: none;
    }

    input::-ms-clear {
        display: none !important;
    }

    input::-webkit-calendar-picker-indicator {
        display: none !important;
    }

    input::placeholder {
        color: globals.$placeholder;
    }
}

.o-dropdown {
    input[type=text] {
        max-width: 100%;
        padding: 10px 48px 10px 16px;
        padding: var(--combobox-padding-top) 48px var(--combobox-padding-bottom) 16px;
        border-radius: globals.$border-radius;
        border: globals.$border-thickness solid globals.$theme-primary;
        color: globals.$white;
        min-width: 3em;
        height: var(--combobox-height);
        box-sizing: content-box;
        cursor: default;
        background: url("/Survey/images/formal/white-chevron-down.png") right 12px center no-repeat globals.$theme-primary;
        text-overflow: ellipsis;

        &.list-visible {
            background-image: url("/Survey/images/formal/white-chevron-up.png");
        }

        &:not([data-readonly=true]):hover {
            background-color: globals.$theme-primary-hover;
        }
    }

    input::placeholder {
        color: globals.$white;
    }
}

.direction-down input[aria-expanded="true"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.direction-up input[aria-expanded="true"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

html[dir="rtl"] .o-dropdown {
    input[type=text] {
        background: url("/Survey/images/formal/white-chevron-down.png") left 12px center no-repeat globals.$theme-primary;
        padding: 10px 16px 10px 48px;
    }
}