.option-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.option-container:hover {
    background-color: #f9f9f9;
}

.question-title {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.question-description, .question-answer {
    font-size: 14px;
    color: #666;
}

.question-answer {
    font-size: 14px;
    color: #00a;
}

.option-container.answered .question-answer {
    font-size: 14px;
    color: #000;
}

.option-container[data-last-answered="true"] {
    background-color: rgba(232, 190, 93, 0.2);

}