@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
@import url('styles/navigation.css');
@import url('styles/progress.css');
@import url('styles/a-button.css');
@import url('styles/a-icon-multistate.css');
@import url('styles/a-icon-singlestate.css');
@import url('styles/a-input-singlelineedit.css');
@import url('styles/a-input-multilineedit.css');
@import url('styles/a-label.css');
@import url("styles/m-option-base.css");
@import url("styles/o-question-response.css");
@import url("styles/o-question-errorandinstruction.css");
@import url("styles/t-question-base.css");
@import url("styles/o-option-list.css");

body
{
    background: #fafafa;
    color: #212C4C;
    padding: 0 8em;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    body {
        padding: 0 1em;
    }
}

*
{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.surroundcontent
{
    max-width: 1920px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.hiddencontrol
{
  display: none;
}
