$theme-primary: #455B97;
$theme-primary-hover: #324371;
$theme-secondary: #449B9B;
$theme-secondary-hover: #317474;

$primary-font: 'Karla', sans-serif;
$secondary-font: "Merriweather", serif;

$white: #FAFAFA;
$lightest: #F2F8FE;
$light1: #ECEFF5;
$light2: #D6DDEB;
$light3: #8797C8;
$dark1: #A0ABCC;
$dark2: #324371;
$darkest: #212C4C;

$background: $white;
$background-dark: $lightest;

$icons-light: $light1;
$icons-mid: $light2;
$icons-dark: $dark1;

$borders: $light3;
$borders-light: $light3;
$borders-hover: $theme-primary;
$labels: $dark2;
$titles: $darkest;

$information: #C2DBFC;
$success: #469B9B;
$warning: #E8BE5D;
$error: #DA2911;

$other1: #7A3996;
$other2: #DEC7E8;

$placeholder: $other1;
$input-text: $theme-secondary;
$pre-post-text: $theme-primary-hover;
$disabled-text: $theme-secondary;
$disabled-background: $light1;

$border-radius: 4px;

$min-device-width: 375px;
$min-page-margin: 16px;
$min-display-width: $min-device-width - ($min-page-margin*2);
$max-display-width: 1660px;

$default-input-width: 197px;