$theme-primary: #455B97;
$theme-primary-hover: #324371;
$theme-secondary: #449B9B;
$theme-secondary-hover: #317474;

$background: #FAFAFA;
$background-dark: #F2F8FE;

$icons-dark: #57699C;
$icons-mid: #D6DDEB;
$icons-light: #ECEFF5;

$borders-light: #D0DAE6;
$borders: #8797C8;
$borders-hover: #57699C;
$labels: #324371;
$titles: #212C4C;

$success: #469B9B;
$info: #C2DBFC;
$warning: #E8BE5D;
$error: #DA2911;

$other-1: #7A3996;
$other-2: #DEC7E8;

$white: #FFFFFF;
$placeholder: #CCCCCC;
$input-text: #757575;
$pre-post-text: #A0ABCC;

$border-radius: 10px;