@use 'globals';

.m-list-optionlist {
    position: absolute;
    box-sizing: border-box;
    margin-top: .5em;
    border: 1px solid globals.$theme-primary;
    border-radius: globals.$border-radius;
    padding: .5em 3em .5em .5em;
    background-color: white;
    z-index: 999;
    max-height: 227px;
    overflow: auto;
    visibility: hidden;
    overflow-y: overlay; /* this specifically addresses an issue with Chrome where the scrollbar adds width to the list */
    text-align: left;
}

div.empty {
    .a-list-placeholder-empty {
        display: block;
    }
}

div.charrestriction {
    .a-list-placeholder-restriction {
        display: block;
    }
}

div[class^=a-list-placeholder-] {
    display: none;
    color: globals.$disabled-text;
}

.m-list-optionlist.manual-width {
    padding-right: 0;
}

.config-complete .m-list-optionlist {
}

.show-list ~ .m-list-optionlist {
    visibility: visible;
}