@use 'globals';

.m-select-droplist {
    appearance: none;
    display: block;
    box-sizing: content-box;
    min-height: 40px;
    line-height: 40px;
    min-width: 3em;
    margin: 0;
    padding: 0 44px 0 16px;
    width: globals.$default-input-width;
    border: none;
    border-radius: globals.$border-radius;
    background: url("../images/white-chevron-down.png") right 12px center no-repeat globals.$theme-primary;
    color: white;
    z-index: 10;
}

select::-ms-expand {
    display: none;
}

.m-select-droplist option {
    background-color: globals.$white;
    color: globals.$theme-primary;
}