@use 'globals';

.o-question-list,
.o-question-combolist {

    &.combobox > div:first-of-type {
        padding-right: 0;
    }

    & > div:first-of-type {
        position: relative;
        display: inline-block;
        padding-right: 3em;
        border-radius: globals.$border-radius;



        &:hover {
            button {
                background-color: globals.$theme-primary-hover;
            }
        }

    }

    .a-input-list-dropdown {
        position: relative;
        z-index: 2;
        padding: 10px 16px;
        border-radius: globals.$border-radius;
        border: 1px solid globals.$borders;
        color: globals.$input-text;
        margin-bottom: 0;
        background-color: globals.$background;
        box-sizing: border-box;
    }

    .a-input-list-dropdown:hover:not(:read-only),
    .a-input-list-dropdown:focus:not(:read-only) {
        color: globals.$borders-hover;
    }

    .a-input-list-dropdown:focus:not(:read-only) {
        border-color: globals.$borders-hover;
    }

    .a-input-list-dropdown:focus-visible {
        outline: none;
    }

    .a-input-list-dropdown.readonly {
        box-sizing: border-box;
        color: white;
        background: transparent;
        border: 1px solid transparent; /* the border width must be specified or the browser interprets transparent as none and loses a few pixels of size */
        padding-right: 0 !important; /* this is necessary to override JS applied padding to list elements */

        &.readonly {
            cursor: default;
        }

        &:focus-visible {
            outline: none;
        }
    }
}