@use 'globals';

.o-question-list,
.o-question-combolist {

    &.combobox > div:first-of-type {
        padding-right: 0;
    }

    & > div:first-of-type {
        position: relative;
        display: inline-block;
        max-width: 100%;
        border-radius: globals.$border-radius;

        &:hover {
            button {
                background-color: globals.$theme-primary-hover;
            }
        }

    }

    .a-input-list-dropdown {
        position: relative;
        z-index: 2;
        border: none;
        border-radius: globals.$border-radius;
        color: globals.$input-text;
        margin-bottom: 0;
        background-color: globals.$background;
        min-width: 3em;
        max-width: 100%;
        box-sizing: content-box;
        line-height: 40px;
        padding: 0 44px 0 16px;
        height: 40px;
    }

    .a-input-list-dropdown:hover:not(:read-only),
    .a-input-list-dropdown:focus:not(:read-only) {
        color: globals.$borders-hover;
    }

    .a-input-list-dropdown:focus:not(:read-only) {
        border-color: globals.$borders-hover;
    }

    .a-input-list-dropdown:focus-visible {
        outline: none;
    }

    .a-input-list-dropdown.readonly {
        color: white;
        background: transparent;
        cursor: default;

        &:focus-visible {
            outline: none;
        }

        &::selection {
            background: transparent;
        }
    }
}