@use 'globals';

.o-select-combobox {
    input[type=text] {
        border: none;
        border-radius: globals.$border-radius;
        background: url("../images/white-chevron-down.png") right 12px center no-repeat globals.$theme-primary;
        color: globals.$white;
        min-width: 3em;
        width: 165px;
        box-sizing: content-box;
        line-height: 40px;
        padding: 0 44px 0 16px;
        height: 40px;
    }

    input:focus-visible {
        outline: none;
    }

    input::-ms-clear {
        display: none !important;
    }

    input::-webkit-calendar-picker-indicator {
        display: none !important;
    }

    input.list-visible {
        background-image: url("../images/white-chevron-up.png");
    }

    input::placeholder {
        color: globals.$placeholder;
    }

    ul {
        list-style-type: none;
        margin: 4px 0;
        padding: 8px 0;
        border: 1px solid globals.$theme-primary;
        border-radius: globals.$border-radius;
        background-color: globals.$white;
        display: none;
        position: absolute;
        max-height: 300px;
        overflow-y: auto;
    }

    ul.charrestriction {
        li:not(.a-list-placeholder-restriction) {
            display: none;
        }

        li.a-list-placeholder-restriction {
            display: block;
        }
    }

    ul.empty {
        li.a-list-placeholder-empty {
            display: block;
        }
    }

    li.a-list-placeholder-empty {
        display: none;
    }

    li.a-list-placeholder-restriction {
        display: none;
    }

    ul.visible {
        display: block;
    }

    li {
        padding: 4px 16px;
        cursor: default;
        text-align: left;
    }

    li:hover {
        color: globals.$theme-primary-hover;
    }

    li.selected {
        color: globals.$theme-secondary;
    }

    li.filter-hidden {
        display: none;
    }

}