@use 'globals';

.a-input-singlelineedit {
    padding: 10px 16px;
    border-radius: globals.$border-radius;
    border: 1px solid globals.$borders;
    color: globals.$input-text;
    margin: 0 0 .5em 0;
    width: 197px;
    height: 19px;
    background-color: globals.$background;
    box-sizing: content-box;
}

.a-input-singlelineedit[type=number] {
    text-align: right;
}

/* make the spinner permanently visible - specifically for Edge */
.a-input-singlelineedit[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

/* make the spinner permanently visible - specifically for Edge */
.a-input-singlelineedit[type=number]:read-only::-webkit-inner-spin-button {
    opacity: 0
}

/* IE10 does not support :read-only selector */
.read-only .a-input-singlelineedit {
    border: transparent !important;
    cursor: default;
}

/* Chrome, Safari, Edge, Opera */
input:read-only::-webkit-outer-spin-button,
input:read-only::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number]:read-only {
    -moz-appearance: textfield;
}

.a-input-singlelineedit:read-only:focus {
    border: none;
}

.a-input-singlelineedit[type=number]::-ms-clear {
    // bug in IE10 that breaks right-padding where the clear button appears
    // it is necessary to remove the clear button as this cannot be solved.
    display: none;
}

.m-input-singlelineedit {
    margin-bottom: .5em;

    .a-input-singlelineedit {
        margin-bottom: 0;
    }
}

.m-input-singlelineedit:last-of-type,
.a-input-singlelineedit:last-of-type {
    margin-bottom: 0;
}

.a-input-singlelineedit:hover:not(:read-only),
.a-input-singlelineedit:focus:not(:read-only) {
    color: globals.$borders-hover;
}

.a-input-singlelineedit:focus {
    outline: none;
    border: 1px solid globals.$theme-primary;
}

.m-option-base {
    .a-input-singlelineedit {
        margin-left: .5em;
        margin-bottom: 0;
        padding: 0;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid;
        width: 151px;
        height: auto;
    }
}

.a-label-prelabel + .a-input-singlelineedit {
    border-left: none;
    border-radius: 0 globals.$border-radius globals.$border-radius 0;
}