@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url('header.css');
@import url('navigation.css');
@import url('a-button.css');
@import url('a-icon-multistate.css');
@import url('a-input-singlelineedit.css');
@import url('a-input-multilineedit.css');
@import url('a-label.css');
@import url("m-option-base.css");
@import url("o-question-errorandinstruction.css");
@import url("t-question-base.css");
@import url("o-option-list.css");

* {
    font-size: 16px;
    line-height: 19px;
}

html {
    height: 100vh;
}

body {
    background: #fafafa;
    color: #212C4C;
    padding: 0;
    margin: 0 1em;
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto minmax(375px, 1660px) auto;
    grid-template-areas: ". main .";
}

body,
input,
textarea {
    font-family: 'Karla', sans-serif;
}

body > form {
    grid-area: main;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "content"
        "footer"
}

.header {
    grid-area: header;
    height: 123px;
    padding-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #8797C8;
}

@media screen and (max-width: 1024px) {
    .header {
        height: 75px;
        padding-bottom: .8em;
    }
}

.surroundcontent {
    grid-area: content;
    margin-bottom: 1em;
}

.footer {
    grid-area: footer;
    height: 76px;
    border-top: 1px solid #8797C8;
    padding: 1em 0;
    align-self: end;
}

.hiddencontrol {
    width: 1px;
    height: 1px;
    position: absolute;
    left: -9999px;
}

/* Standardises the placeholder colour - these rules cannot be combined */
::-moz-placeholder {
    color: #CCCCCC;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #CCCCCC;
    opacity: 1;
}

::placeholder {
    color: #CCCCCC;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #CCCCCC;
}

::-ms-input-placeholder {
    color: #CCCCCC;
}
