@use 'globals';

.m-list-optionlist {
    position: absolute;
    box-sizing: border-box;
    min-width: 300px;
    margin-top: .5em;
    border: 1px solid globals.$theme-primary;
    border-radius: globals.$border-radius;
    padding: .5em;
    background-color: white;
    z-index: 999;
    overflow: auto;
    visibility: hidden;
}

.config-complete .m-list-optionlist {
}

.focused ~ .m-list-optionlist {
    visibility: visible;
}