@use 'globals';

input.a-button-option + .m-option-base {
        display: inline-block;
}

.m-option-base {
    box-sizing: border-box;
    position: relative;
    margin-bottom: .5em;
}

.m-option-base.filter-hidden {
    display: none;
}

input + script + .m-option-base {
    margin-top: .5em;
}

.m-option-base:first-child,
.m-option-base:nth-last-of-type(1) {
    margin-bottom: 0;
}

.m-list-optionlist {
    .m-option-base {
        margin-bottom: 0;
        width: 100% !important;
    }
}

.balance {
    .m-option-base {
        flex: 0 0 auto;
        margin-right: 1em;
    }
}