@use 'globals';

.o-question-hnumberslider {
    overflow: visible;
}

.o-input-questionhnumberslider {
    position: relative;
    display: flex;
    align-items: center;

    &.has-thumb-value {
        padding-top: 1.4em;
    }

    &.has-pre-label,
    &.has-post-label {
        padding-bottom: 0.8em;
    }

    &.has-tick-labels {
        padding-bottom: 0.8em;
    }

    & > div {
        flex-grow: 1;
    }
}

.slider-wrapper {
    position: relative;
}

.slider-border {
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 24px;
    border: 1px solid globals.$borders;
    border-radius: 24px;
    top: 12px;
    background: white;
}

.slider-marks {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    width: calc(100% - 12px);
    left: 6px;
    height: 16px;
    top: 16px;
    border-radius: 16px;
}

input[type=range] {
    position: relative;
    z-index: 3;
    width: calc(100% - 12px);
    left: 6px;
    height: 48px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    -webkit-appearance: none;
    border: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: transparent;
    border: 0;
    border-radius: 24px;
    width: 100%;
    height: 16px;
}

.active input[type=range]::-webkit-slider-thumb {
    border-color: globals.$other-1;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -11px;
    width: 40px;
    height: 40px;
    background: white;
    border: 8px solid globals.$borders;
    border-radius: 50px;
    -webkit-appearance: none;
    box-shadow: none;
    z-index: 4;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
}

.flood-to-value::-webkit-slider-runnable-track {
    background: var(--track-background-fill, transparent) !important;
}

input[type=range]::-moz-range-track {
    background: transparent;
    border: 0;
    border-radius: 22px;
    width: 100%;
    height: 22px;
}

.active input[type=range]::-moz-range-thumb {
    border-color: globals.$other-1;
}

input[type=range]::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background: white;
    border: 8px solid globals.$borders;
    border-radius: 50px;
    box-shadow: none;
    z-index: 4;
}

.flood-to-value::-moz-range-progress {
    background-color: globals.$borders-light !important;
    height: 16px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

input[type=range]::-ms-tooltip {
    display: none;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 5px 0;
    color: transparent;
    width: 100%;
    height: 16px;
    border-radius: 16px;
}

input[type=range]::-ms-fill-lower {
    background: transparent;
    border-radius: 16px;
}

.flood-to-value::-ms-fill-lower {
    background-color: globals.$borders-light !important;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

input[type=range]::-ms-fill-upper {
    background: transparent;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.active input[type=range]::-ms-thumb {
    border-color: globals.$other-1;
}

input[type=range]::-ms-thumb {
    width: 24px;
    height: 24px;
    background: white;
    border: 8px solid globals.$borders;
    border-radius: 50px;
    margin-top: 0px;
    box-shadow: none;
    z-index: 4;
    /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus {
    border: none;
}

input[type=range]:focus::-ms-fill-lower {
    background: transparent;
}

.flood-to-value:focus::-ms-fill-lower {
    background: globals.$borders-light !important;
}

@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}
