.o-question-response {
    &.one-size {
        display: grid;
        grid-auto-rows: 1fr;
    }

    &.balance {
        display: flex;
    }

    &.balance > * {
        flex: 1 1 0px;
        margin-top: 0 !important;
        margin-right: 1em;
    }

    &.balance > *:last-child {
        margin-right: 0;
    }

    overflow: auto;
}