@use 'globals';

.o-question-response {
    & > *:not(script):last-child {
        margin-bottom: 0;
    }

    &.one-size {
        display: grid;
        grid-auto-rows: 1fr;
    }

    &.balance {
        display: flex;
        flex-wrap: wrap;
    }

    &.balance > * {
        margin-top: 0 !important;
        margin-bottom: 1em;
    }

    &.balance > .o-option-sublist {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        width: 100%;
    }

    &.balance .a-label-heading-sublist {
        flex-basis: 100%;
        width: 100%;
    }

    &.balance > *:last-child {
        margin-bottom: 0;
    }

    overflow-x: auto;
    overflow-y: hidden;
}