@use 'globals';

.o-question-response {
    & > *:not(script):last-child {
        margin-bottom: 0;
    }

    &.balance {
        display: flex;
        flex-wrap: wrap;
    }

    &.balance > * {
        margin-top: 0 !important;
        margin-bottom: 1em;
    }

    &.balance > .o-option-sublist {
        display: flex;
        flex-wrap: wrap;
        flex: 1 0 100%;
    }

    &.balance .a-label-heading-sublist {
        flex-basis: 100%;
        width: 100%;
    }

    &.balance > *:last-child {
        margin-bottom: 1em;
    }

    padding: 1px;
    overflow-x: auto;
    overflow-y: visible;
}