@use 'globals';

.o-structure-table {
    border-collapse: collapse;

    caption,
    th,
    .m-structure-cell-row-total-title,
    .m-structure-cell-column-total-title {
        font-family: "Merriweather", serif;
        font-weight: normal;
        color: globals.$titles;
    }

    caption {
        caption-side: top;
        text-align: left;
    }

}