@use 'globals';

input[type=button],
input[type=submit],
input[type=reset],
button[class^=a-button] {
    display: block;
    box-sizing: content-box;
    min-width: 3em;
    min-height: 30px;
    -webkit-appearance: none;
    margin: 0 0 12px 0;
    border: globals.$border-thickness solid globals.$theme-primary;
    border-radius: globals.$border-radius;
    padding: 4px 1em;
    background-color: globals.$theme-primary;
    color: globals.$white;
    white-space: normal;
    font-size: globals.$standard-font-size;
    line-height: 24px;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
button:hover {
    background-color: globals.$theme-primary-hover !important;
    color: globals.$white;
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
    background-color: globals.$white !important;
    color: globals.$theme-primary;
}

// global disabled state
button:disabled,
input[type=button]:disabled,
input[type=submit]:disabled,
input[type=reset]:disabled {
    border-color: globals.$disabled-text !important;
    background-color: globals.$disabled-text !important;
    color: globals.$white !important;
}

button[data-checked="true"],
input[type=button][data-checked="true"],
input[type=submit][data-checked="true"] {
    background-image: url("/Survey/images/informal/checkmark-blue.png");
    background-repeat: no-repeat;
    background-position: center;

    &:active {
        background-image: url("/Survey/images/informal/checkmark-blue.png");
    }

    &:disabled {
        background-image: url("/Survey/images/informal/checkmark-blue.png");
    }
}
input[type=button].a-button-image {
    appearance: none;
    padding: 4px;
    min-width: 0;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat !important;
    background-position: center center;

    &:disabled {
        background-color: transparent !important;
        opacity: .25;
    }
}

input[type=button].a-button-image:hover {
    background-color: transparent !important;
}

button.a-button-preterminator,
button.a-button-postterminator {
    position: relative;
    border: none;
    background: transparent !important;
    top: 7px;
    width: 2em;
    min-width: 2em;
    padding: 0 .5em;
    margin: 0;
    display: none;
    color: globals.$theme-primary;
}

.o-question-scale-horizontal-control .a-button-preterminator,
.o-question-scale-horizontal-control .a-button-postterminator {
    top: 0;
}

.has-terminators {
    .a-button-preterminator,
    .a-button-postterminator {
        display: block;
    }
}

.balance {
    .a-button-option {
        flex: 0 0 auto;
        margin-right: 1em;
    }
}

html[dir="rtl"] .balance .a-button-option {
    margin-right: 0;
    margin-left: 1em;
}

.focused > .a-button-list-dropdown {
    background-image: url("/Survey/images/informal/white-chevron-up.png");
}

.m-input-button-wrapper {
    position: relative;
    display: inline-block;

    .m-button-spinner {
        display: none;
        position: absolute;
        right: calc(.5em + 4px);
        top: 50%;
        transform: translateY(-50%);

        button {
            margin: 0;
            border: 0;
            border-radius: 0;
            min-width: 0;
            min-height: 0;
            background: globals.$light1;
            color: globals.$placeholder;
            font-size: globals.$label-font-size;
            line-height: globals.$label-line-height;
            width: 12px;

            &.a-button-spinner-up {
                padding: 2px 0 0 0;
            }

            &.a-button-spinner-down {
                padding: 0 0 2px 0;
            }

            &:hover,
            &:focus {
                background: globals.$light2 !important;
            }
        }
    }
}

html[dir="rtl"] .m-input-button-wrapper .m-button-spinner {
    right: auto;
    left: calc(.5em + 4px);
}

.show-spinner .m-button-spinner {
    display: block;
}

.read-only .m-button-spinner {
    display: none;
}

/* buttons where used as part of
 * the page navigation controls */
#nav-controls {

    input {
        display: inline-block !important;
    }

    input[type=submit] {
        margin: 0;
        border-color: globals.$theme-secondary;
        background-color: globals.$theme-secondary;
        color: globals.$white;
        width: globals.$default-input-width;
        min-width: 88px;
        padding: 4px 8px;
    }

    @media screen and (max-width: 1023px) {

        input[type=submit] {
            width: auto;
        }

    }

    input[type=submit]:hover,
    input[type=submit]:focus {
        color: globals.$theme-secondary !important;
        background-color: globals.$white !important;
    }

    #prevstop input[type=submit] {
        margin-right: 1em;
    }

    #prevstop input[type=submit]:last-child {
        margin-right: 0;
    }
}

html[dir="rtl"] #nav-controls {
    #prevstop input[type=submit] {
        margin-right: 0;
        margin-left: 1em;
    }

    #prevstop input[type=submit]:last-child {
        margin-left: 0;
    }
}