@use 'globals';

*[class*=-label-] {
    cursor: default;

    & * {
        cursor: default;
    }
}

.m-list-optionlist {
    label {
        position: relative;
        display: inline-block;
        height: 100%;
        width: 100%;
    }
}

.details-inline {
    .a-label-details {
        position: static;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
}

.a-label-details {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 16px 8px 42px;
    background-color: #E4EBF4;
    left: 0;
}

.style-inline .a-label-details {
    position: static;
    padding: 0;
    margin-top: 8px;
}

.overall-progress.complex {
    .a-label-section-title {
        display: block;
        margin: 0 0 8px 0;
        font-size: 24px;
        text-align: right;
    }
}

html[dir="rtl"] .overall-progress.complex .a-label-section-title {
    text-align: inherit;
}

@media screen and (max-width: 1023px) {
    .overall-progress.complex {
        .a-label-section-title {
            margin-bottom: 4px;
            font-size: 18px;
        }
    }
}

.a-label-option {
    color: globals.$theme-secondary;
    padding: 0;
    margin: 0;
}

.a-label-iteration {
    color: globals.$theme-primary;
}

.a-label-caption {
    font-family: globals.$secondary-font;
    font-weight: normal;
    color: globals.$titles;
    display: inline-block;
}

.a-label-heading-sublist {
    font-family: globals.$secondary-font;
    color: globals.$titles;
    margin-bottom: .5em;
}

// Do not display totals in error rows
.m-structure-row-error .a-label-total {
    display: none;
}

.a-label-total {
    display: inline-block;
    padding: 10px 6px;
    border: globals.$border-thickness solid transparent;
    height: 19px;
    text-align: right;
    box-sizing: content-box;
}

html[dir="rtl"] .a-label-total {
    text-align: inherit;
}

.a-label-total-grand,
.a-label-total-column,
.a-label-total-row {
    color: globals.$titles;
}

.a-label-total-column {
    width: globals.$default-input-width;
    padding: 10px 16px;
}

.a-label-total-grand {
    padding: 10px 0;
}

.a-label-total-column,
.a-label-total-grand {
    margin-bottom: 0;
}

.focused {
    .grid-row-total,
    .grid-column-total,
    .grid-grandtotal {
        .a-label-prelabel,
        .a-label-postlabel {
            border: none !important;
        }
    }
}

.focus-control {
    .m-input-singlelineedit.focused {
        //box-shadow: globals.$drop-shadow;
    }
}

// callout and warning labels
.a-label-error {
    color: globals.$error;
}

// label within table
.m-structure-row-error .a-label-error {
    display: inline-block;
    margin: 16px 8px 0 8px;
    font-size: globals.$instruction-font-size;
}

.m-message-error,
.m-message-warning,
.m-message-success {
    *[class*=-label-] {
        display: inline-block;
        position: relative;
        margin-bottom: .5em;
        border-radius: globals.$border-radius;
        padding: globals.$default-padding 16px globals.$default-padding 42px;
        font-size: globals.$instruction-font-size;
        line-height: globals.$message-line-height;

        &::before {
            position: absolute;
            left: globals.$default-padding;
            top: globals.$default-padding;
            width: 20px;
            height: 20px;
            background-size: 20px;
            content: '';
            background-repeat: no-repeat;
        }
    }
}

.m-scale-unit .a-label {
    display: none;
    position: relative;
    z-index: 2;
}

.values-inside .m-scale-unit .a-label {
    display: block;
}

html[dir="rtl"] {
    .m-message-error,
    .m-message-warning,
    .m-message-success {
        *[class*=-label-] {
            padding: globals.$default-padding 32px globals.$default-padding 16px;

            &::before {
                left: auto;
                right: globals.$default-padding;
            }
        }
    }
}

.m-message-error *[class*=-label-] {

    color: globals.$error;
    background-color: rgba(globals.$error, .15);

    &::before {
        background-image: url("/Survey/images/informal/icon-error.svg");
    }
}

.m-message-warning *[class*=-label-] {

    color: globals.$warning;
    background-color: rgba(globals.$warning, .15);

    &::before {
        background-image: url("/Survey/images/informal/icon-warning.svg");
    }
}

.m-message-success *[class*=-label-] {

    color: globals.$success;
    background-color: rgba(globals.$success, .15);

    &::before {
        background-image: url("/Survey/images/informal/icon-success.svg");
    }
}

.o-openend-search {
    .a-label-message-external-empty {
        display: none;
    }

    .o-question-selected:empty + .a-label-message-external-nomatch.hidden + .a-label-message-external-empty {
        display: block;
    }

    .o-question-selected:not(:empty) + .a-label-message-external-nomatch {
        display: none;
    }
}

.o-question-scale-horizontal,
.o-question-scale-vertical {
    div.a-label-prelabel,
    div.a-label-postlabel {
        margin-top: 4px;
        border: none !important;
        padding: 0;
    }
}

html[dir="rtl"] .o-question-scale-horizontal,
html[dir="rtl"] .o-question-scale-vertical {
    div.a-label-prelabel,
    div.a-label-postlabel {
        border: none !important;
    }
}

.o-question-scale-vertical {
    div.a-label-prelabel,
    div.a-label-postlabel {
        text-align: center;
        width: 400px;
    }

    div.a-label-postlabel {
        margin-bottom: 20px;
    }

    div.a-label-prelabel {
        margin-top: 20px;
    }
}

.focused {
    * {
        outline: none;
    }

    .a-label-postlabel {
        border: globals.$border-thickness solid transparent !important;
    }

    .a-label-prelabel {
        border: globals.$border-thickness solid transparent !important;
    }
}

html[dir="rtl"] .focused {
    .a-label-postlabel {
        border: globals.$border-thickness solid transparent !important;
    }

    .a-label-prelabel {
        border: globals.$border-thickness solid transparent !important;
    }
}

.o-question-information-content span:last-child {
    .a-label-alternative-separator {
        display: none;
    }
}

.o-question-information-content div:last-child {
    .a-label-alternative-separator {
        display: none;
    }
}

.m-structure-cell {
    .read-only .a-label-postlabel,
    .read-only .a-label-prelabel {
        background: transparent;
    }

    .a-label-postlabel {
        display: inline-block;
        border: globals.$border-thickness transparent;
        position: relative;
        padding: 10px 16px;
        white-space: nowrap;
        box-sizing: content-box;
    }

    .a-label-prelabel {
        display: inline-block;
        border: globals.$border-thickness transparent;
        padding: 10px 16px;
        white-space: nowrap;
    }

    .m-option-base {
        label {
            width: 100%;
            height: 100%;
            padding: 8px;
        }

        .a-label-option {
            padding-left: .2em;
        }
    }
}

html[dir="rtl"] {
    .m-structure-cell {
        .a-label-postlabel {
            left: auto;
            right: -.5em;
        }

        .m-option-base {
            .a-label-option {
                padding-left: 0;
                padding-right: .2em;
            }
        }
    }
}

.m-input-singlelineedit {
    .a-label-postlabel {
        display: inline-block;
        border: globals.$border-thickness solid transparent;
        border-radius: 0 globals.$text-border-radius globals.$text-border-radius 0;
        position: relative;
        padding: 10px 8px;
        color: globals.$pre-post-text;
        white-space: nowrap;
        box-sizing: content-box;
        font-size: globals.$label-font-size;
    }

    .a-label-prelabel {
        display: inline-block;
        border: globals.$border-thickness solid transparent;
        border-radius: globals.$text-border-radius 0 0 globals.$text-border-radius;
        padding: 10px 8px;
        color: globals.$pre-post-text;
        white-space: nowrap;
        font-size: globals.$label-font-size;
    }

    &.read-only {
        .a-label-prelabel,
        .a-label-postlabel {
            color: globals.$light3;
        }
    }
}

html[dir="rtl"] .m-input-singlelineedit {
    .a-label-postlabel {
        left: auto;
    }
}

.o-question-slider-horizontal-control,
.o-question-slider-vertical-control {
    .a-label-outer-prelabel,
    .a-label-outer-postlabel {
        position: relative;
        top: 12px;
        color: globals.$theme-primary;
    }

    .a-label-prelabel {
        position: absolute;
        left: 0;
        bottom: -.8em;
        color: globals.$theme-primary;
    }

    .a-label-postlabel {
        position: absolute;
        right: 0;
        bottom: -.8em;
        color: globals.$theme-primary;
    }

    .a-label-thumbvalue {
        box-sizing: border-box;
        color: globals.$titles;
        position: absolute;
        top: -1.1em;
        visibility: hidden;
        transform: translateX(-50%);
    }

    &.active.has-value.has-thumb-value .a-label-thumbvalue {
        visibility: visible;
    }

    .m-style-slidermarks {
        box-sizing: border-box;
        position: absolute;
        z-index: 3;
        width: calc(100% - 12px);
        left: 6px;
        top: 11px;
        display: flex;
        justify-content: space-between;
        color: globals.$other0;
        font-size: 16px;

        & > i {
            text-align: center;
            flex: 0 1 40px;
            display: block;
            font-style: normal;
        }
    }

    .m-label-ticklabels {
        position: relative;
        top: -.5em;
        left: 6px;
        box-sizing: border-box;
        width: calc(100% - 12px);
        display: flex;
        justify-content: space-between;
        color: globals.$borders;

        & > span {
            text-align: center;
            flex: 0 1 40px;
            display: block;
            font-size: 17px;
        }

    }

}

html[dir="rtl"] .o-question-slider-horizontal-control,
html[dir="rtl"] .o-question-slider-vertical-control {

    .a-label-prelabel {
        left: auto;
        right: 0;
    }

    .a-label-postlabel {
        right: auto;
        left: 0;
    }

    .a-label-thumbvalue {
        transform: translateX(50%);
    }

    .m-style-slidermarks {
        left: auto;
        right: 6px;
    }

    .m-label-ticklabels {
        left: auto;
        right: 6px;
    }
}

.o-question-slider-vertical-control {
    .m-label-ticklabels {
        left: 12px;
        top: 0;
        width: calc(100% - 22px);

        span {
            transform: rotate(90deg);
        }
    }
}

.o-question-slider-vertical-control {
    .a-label-thumbvalue {
        top: -1.5em;
        transform: translateX(-50%) rotate(90deg);
    }
}

.o-question-datetime-recent-slider {
    .a-label-outer-prelabel,
    .a-label-outer-postlabel {
        position: relative;
        top: 12px;
        color: globals.$theme-primary;
    }

    .a-label-prelabel {
        position: absolute;
        left: 0;
        bottom: -.8em;
        color: globals.$theme-primary;
    }

    .a-label-postlabel {
        position: absolute;
        right: 0;
        bottom: -.8em;
        color: globals.$theme-primary;
    }

    .a-label-time {
        color: globals.$success;
        border-bottom: globals.$border-thickness solid globals.$other2;
    }

    .a-label-time,
    .a-label-date {
        font-size: 17px;
    }

    .a-label-thumbvalue {
        box-sizing: border-box;
        color: globals.$titles;
        position: absolute;
        top: 2.5em;
        visibility: hidden;
        transform: translateX(-50%);
    }

    &.active.has-value.has-thumb-value .a-label-thumbvalue {
        visibility: visible;
    }

    .m-style-slidermarks {
        box-sizing: border-box;
        position: absolute;
        z-index: 3;
        width: calc(100% - 12px);
        left: 6px;
        top: 11px;
        display: flex;
        justify-content: space-between;
        color: globals.$other0;
        font-size: 16px;

        & > i {
            text-align: center;
            flex: 0 1 40px;
            display: block;
            font-style: normal;
        }
    }

    .m-label-ticklabels {
        position: absolute;
        top: -1em;
        left: 6px;
        box-sizing: border-box;
        width: calc(100% - 12px);
        display: flex;
        justify-content: space-between;
        color: globals.$borders;

        & > span {
            text-align: center;
            flex: 0 1 40px;
            display: block;
            font-size: globals.$message-font-size;
        }

    }

}

html[dir="rtl"] .o-question-slider-date-horizontal-control,
html[dir="rtl"] .o-question-slider-date-vertical-control {

    .a-label-prelabel {
        left: auto;
        right: 0;
    }

    .a-label-postlabel {
        right: auto;
        left: 0;
    }

    .a-label-thumbvalue {
        transform: translateX(50%);
    }

    .m-style-slidermarks {
        left: auto;
        right: 6px;
    }

    .m-label-ticklabels {
        left: auto;
        right: 6px;
    }
}

.o-question-slider-date-vertical-control {
    .m-label-ticklabels {
        left: 12px;
        top: 0;
        width: calc(100% - 22px);

        span {
            transform: rotate(90deg);
        }
    }
}

.o-question-slider-date-vertical-control {
    .a-label-thumbvalue {
        top: -1.5em;
        transform: translateX(-50%) rotate(90deg);
    }
}

.m-option-base {

    input:checked + label::after {
        transform: scale(1);
    }

    input:checked + label > .a-label-option {
        color: globals.$theme-secondary;
    }

    input:disabled + label > .a-label-option,
    &[data-readonly="true"] label .a-label-option,
    &[data-readonly="true"] input:checked + label > .a-label-option {
        color: globals.$disabled-text;
    }

    .a-label-option {
        position: relative;
        display: inline-block;
        z-index: 2;
    }

    label {
        display: flex;
        box-sizing: border-box;
        position: relative;
        border: globals.$border-thickness solid globals.$background;
        border-radius: calc(#{globals.$border-radius} + 2px);
        padding: globals.$default-padding globals.$default-padding globals.$default-padding 46px;
        width: 100%;
        height: 100%;
    }

    label + .a-label-option {
        padding-left: 0;
    }
}

.focused .m-option-base label {
    border-color: white;
}

html[dir="rtl"] .m-option-base {
    .a-label-option {
        padding-left: 0;
        padding-right: 38px;
    }

    label {
        padding: globals.$default-padding 46px globals.$default-padding globals.$default-padding;
    }

    label + .a-label-option {
        padding-right: 0;
    }
}

.m-list-optionlist {
    .a-label-option {
        padding-bottom: 0;
        width: calc(100% - 1.5em);
    }
}

.m-list-optionlist:not(.display-icons) .a-label-option {
    padding-left: 0;
    width: 100%;
}

html[dir="rtl"] .m-list-optionlist:not(.display-icons) .a-label-option {
    padding-right: 0;
}