@font-face {
    font-family: "Quicksand";
    src: url("/Survey/fonts/quicksand-v31-latin-regular.eot");
    src: url("/Survey/fonts/quicksand-v31-latin-regular.woff"),
         url("/Survey/fonts/quicksand-v31-latin-regular.ttf") format("truetype");
}