// Informal theme defaults and colours

$primary-font: "Quicksand", "QuicksandLocal", sans-serif;
$secondary-font: "Quicksand", "QuicksandLocal", serif;
$rtl-font: "Quicksand", "QuicksandLocal", serif;

$theme-primary: #E8BE5D;
$theme-primary-hover: #D4AA49;
$theme-secondary: #7A3996;
$theme-secondary-hover: #662582;

$white: #FAFAFA;
$lightest: #F2F8FE;
$light1: #ECEFF5;
$light2: #D6DDEB;
$light3: #B4BDDB;
$light4: #8797C8;
$dark1: #57699C;
$dark2: #324371;
$darkest: #212C4C;

$information: #4B79B6;
$success: #469B9B;
$warning: #D4AA49;
$error: #DA2911;

$other0: #DEC7E8;
$other1: #4A444E;
$other2: #6A646F;

$background: #FFFFFF;

$borders: $light4;
$borders-active: $theme-primary;
$borders-light: $light2;
$labels: $dark2;
$titles: $darkest;

$placeholder: $other1;
$input-text: $theme-secondary;
$input-background: #FFFFFF;
$input-background-has-content: rgba($theme-primary, 0.2);
$pre-post-text: $theme-secondary;
$disabled-text: #847E88;
$disabled-background: $light1;

$standard-font-size: 20px;
$standard-font-weight: 400;

$instruction-font-size: 14px;
$option-font-size: 18px;
$label-font-size: 16px;
$message-font-size: 14px;
$placeholder-font-size: 14px;

$standard-line-height: 24px;
$instruction-line-height: 24px;
$option-line-height: 24px;
$label-line-height: 24px;
$message-line-height: 20px;

$border-thickness: 1px;
$default-padding: 8px;
$text-border-radius: 3px;
$border-radius: 5px;
$drop-shadow: 0 11px 11px -9px rgba(0, 0, 0, 0.25), 0 -11px 11px -9px rgba(49, 46, 46, 0.25);

$min-device-width: 375px;
$min-page-margin: 16px;
$min-display-width: $min-device-width - ($min-page-margin*2);
$max-display-width: 1660px;

$default-input-width: 197px;