@use 'globals';

.l-selection-and-scan {
    display: flex;
    align-items: center;
    gap: 8px;
}

// Main container for list messages
.m-list-messages {
    height: 70px;
    width: 37%;
    padding-top: 20px;
  
    @media (max-width: 768px) {
      width: 100%;
      padding-top: 10px;
    }
  }
  
  // Opened search count section
  .m-openend-search-count {
    border-top: 2px solid;
    margin-top: 20px;
    padding-top: 10px;
    text-align: right;
    margin-bottom: 30px;
  
    @media (max-width: 768px) {
      text-align: right;
      margin-top: 10px;
      padding-top: 5px;
    }
  }
  
  // Input styles for question openend search
  .o-question-openend-search {
    input[type='text'] {
      width: 80%;
    }
  }
  
  // Label counter prompt
  .a-label-counter-prompt {
    margin-right: 20px;
  }
  
  // Question selected section
  .o-question-selected {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  // Tag answer section
  .m-tag-answer {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 20px 0;
  
    span {
      font-size: 16px;
    }
  }
  
  // Delete tag button
  .delete-tag {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #002554;
    margin-top: 0.1em;
  }
  
  // List section
  .o-list {
    min-height: 150px;
  
    &.empty {
      ul {
        display: none;
      }
    }
  
    .o-combobox {
      ul,
      ul.visible {
        border: none;
        box-shadow: none;
        position: relative !important;
      }
    }
  }
  
  // RTL Styles
  :dir(rtl) {
    .m-openend-search-count,
    .m-list-messages {
      text-align: left;
    }
  
    .a-label-counter-prompt {
      margin-left: 20px;
      margin-right: 0;
    }
  
    .o-question-selected {
      flex-direction: row-reverse;
    }
    
    #a-button-word-match {
        margin-right: 10px;
      }

    .m-tag-answer {
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin: 20px 0 20px auto; // Align to the right
    }
  
    .delete-tag {
      margin-left: 0.1em;
      margin-right: 0;
    }
  }
  













