@use 'globals';

.hidden-filter {
    display: none !important;

}

.hidden-rule {
    display: none !important;
}

.o-option-sublist {
    position: relative;
}

.balance {
    .o-option-sublist:first-of-type {
        margin-top: 0;
    }

    .o-option-sublist {
        margin-top: 1em;
        margin-bottom: calc(1em - 1px);
    }

    .o-option-sublist + .m-option-base {
        margin-top: 1em;
    }

    /* half the normal margin as the flex version of the
     * container will not collapse the margins */
    .m-option-base + .o-option-sublist {
        margin-top: .5em;
    }
}

/* Separates sub-lists when they are immediately adjacent */
.o-option-sublist + .o-option-sublist,
.o-option-sublist + .m-option-base {
    margin-top: 2em;
}

.no-separator .o-option-sublist + .o-option-sublist,
.no-separator .o-option-sublist + .m-option-base {
    margin-top: 1em;
}

.no-separator .o-option-sublist::after,
.o-option-sublist:last-child::after {
    display: none;
}

.o-option-sublist::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1em;
    content: '';
    width: 25%;
    border-bottom: 1px solid globals.$other0;
}

.separator-length-10 > .o-option-sublist::after {
    width: 10%;
}

.separator-length-25 > .o-option-sublist::after {
    width: 25%;
}

.separator-length-50 > .o-option-sublist::after {
    width: 50%;
}

.separator-length-75 > .o-option-sublist::after {
    width: 75%;
}

.separator-length-100 > .o-option-sublist::after {
    width: 100%;
}

/* prevents corrects separation of lists when they are balanced */
.balance > .o-option-sublist + .o-option-sublist {
    margin-top: 1em;
}

/* prevents corrects separation of lists when they are balanced */
.no-separator.balance > .o-option-sublist + .o-option-sublist {
    margin-top: 0;
}

/* This combination shouldn't be seen but was observed as part
 * of a list during development, where a non-sub-listed item
 * appeared in the middle of a set sub-lists */
.m-option-base + .o-option-sublist {
    margin-top: 1em;
}
