@use 'globals';

.hidden-filter {
    display: none !important;

}
.hidden-rule {
    display: none !important;
}

.balance {
    .o-option-sublist:first-of-type {
        margin-top: 0;
    }

    .o-option-sublist {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .o-option-sublist + .m-option-base {
        margin-top: 0;
    }

    /* half the normal margin as the flex version of the
     * container will not collapse the margins */
    .m-option-base + .o-option-sublist {
        margin-top: .5em;
    }
}

/* Separates sub-lists when they are immediately adjacent */
.o-option-sublist + .o-option-sublist {
    margin-top: 1em;
}

.no-separator .o-option-sublist + .o-option-sublist:before {
    display: none;
}

.o-option-sublist + .o-option-sublist:before {
    display: block;
    content: '';
    width: 25%;
    border-bottom: 1px solid globals.$other0;
    margin-bottom: 1em;
}

/* prevents corrects separation of lists when they are balanced */
.balance > .o-option-sublist + .o-option-sublist {
    margin-top: 0;
}

/* Separates m-option-base elements when they are not
 * part of a sub-list but directly follow a sub-list */
.o-option-sublist + .m-option-base {
    margin-top: 1em;
}

/* This combination shouldn't be seen but was observed as part
 * of a list during development, where a non-sub-listed item
 * appeared in the middle of a set sub-lists */
.m-option-base + .o-option-sublist {
    margin-top: 1em;
}