@use 'globals';

:root {
    --track-background-fill: #{rgba(globals.$theme-primary-hover, .15)};
    --track-thumb-image: url("/Survey/images/informal/range-thumb-default.svg");
    --track-thumb-width: 40px;
    --track-thumb-height: 45px;
}

// question response-level container
.o-question-slider-horizontal,
.o-question-slider-vertical {
    overflow: visible;
}

.o-question-slider-vertical {
    display: table;

    .o-slider-rotate {
        padding: 50% 0;
        height: 0;
    }
}

.o-question-slider-vertical-control {
    transform: rotate(270deg);
    transform-origin: top;
    justify-content: flex-end;
}

.o-question-slider-horizontal-control,
.o-question-slider-vertical-control{
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: .5em;
    min-width: globals.$min-display-width;

    &.has-value {
        input[type=range]::-webkit-slider-thumb {
            visibility: visible;
        }

        input[type=range]::-moz-range-thumb {
            visibility: visible;
        }

        input[type=range]::-ms-thumb {
            visibility: visible;
        }
    }

    &.has-thumb-value {
        padding-top: 1em;
    }

    &.has-pre-label,
    &.has-post-label {
        padding-bottom: 0.8em;
    }

    &.has-tick-labels {
        padding-bottom: 0.8em;
    }

    &.inactive {
        .a-style-sliderclickablearea {
            display: block;
        }
    }

    & > div {
        flex-grow: 1;
    }
}

.m-slider-horizontal,
.m-slider-vertical {
    position: relative;
    flex: 1 0 auto;
}

.m-slider-horizontal[style*="width"],
.m-slider-vertical[style*="width"] {
    flex: 0 0 auto;
}

.a-style-sliderborder {
    box-sizing: border-box;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 24px;
    border: globals.$border-thickness solid globals.$theme-primary;
    border-radius: globals.$border-radius;
    top: 12px;
    background: white;
}

.a-style-sliderclickablearea {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: none;
}

input[type=range] {
    position: relative;
    z-index: 3;
    width: calc(100% - 12px);
    left: 6px;
    height: 48px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    -webkit-appearance: none;
    border: none;
}

html[dir="rtl"] input[type=range] {
    left: auto;
    right: 6px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: transparent;
    border: 0;
    border-radius: globals.$border-radius;
    width: 100%;
    height: 16px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: var(--track-thumb-width);
    height: var(--track-thumb-height);
    border: none;
    background-color: transparent;
    background-image: var(--track-thumb-image);
    background-size: cover;
    background-position: center;
    box-shadow: none;
    margin-top: -15px;
    z-index: 4;
    visibility: hidden;
}

input[type=range]::-moz-range-thumb {
    width: var(--track-thumb-width);
    height: var(--track-thumb-height);
    border: none;
    background-color: transparent;
    background-image: var(--track-thumb-image);
    background-size: cover;
    background-position: center;
    box-shadow: none;
    z-index: 4;
    visibility: hidden;
}

input[type=range]::-ms-thumb {
    width: 40px;
    width: var(--track-thumb-width);
    height: 45px;
    height: var(--track-thumb-height);
    border: none;
    background-color: transparent;
    background-image: url("/Survey/images/informal/range-thumb-default.svg");
    background-image: var(--track-thumb-image);
    background-size: cover;
    background-position: center;
    box-shadow: none;
    margin-top: 0px;
    z-index: 4;
    visibility: hidden;
}

.active input[type=range]::-webkit-slider-thumb {
}

.active input[type=range]::-webkit-slider-thumb:hover {
}

.active input[type=range]::-moz-range-thumb {
}

.active input[type=range]::-moz-range-thumb:hover {
}

.active input[type=range]::-ms-thumb {
}

.active input[type=range]::-ms-thumb:hover {
}

input[type=range]:focus::-webkit-slider-runnable-track {
}

.has-value .flood-to-value::-webkit-slider-runnable-track {
    background: var(--track-background-fill);
}

input[type=range]::-moz-range-track {
    background: transparent;
    border: 0;
    border-radius: globals.$border-radius;
    width: 100%;
    height: 16px;
}

.has-value .flood-to-value::-moz-range-track {
    background: var(--track-background-fill);
    height: 16px;
    border-top-left-radius: globals.$border-radius;
    border-bottom-left-radius: globals.$border-radius;
}

html[dir="rtl"] .has-value .flood-to-value::-moz-range-track {
    border-radius: 0 globals.$border-radius globals.$border-radius 0;
}

input[type=range]::-ms-tooltip {
    display: none;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 5px 0;
    color: transparent;
    width: 100%;
    height: 16px;
    border-radius: globals.$border-radius;
}

input[type=range]::-ms-fill-lower {
    background: transparent;
    border-radius: globals.$border-radius;
}

.has-value .flood-to-value::-ms-fill-lower {
    background-color: rgba(globals.$theme-primary-hover, .15)!important;
    border-top-left-radius: globals.$border-radius;
    border-bottom-left-radius: globals.$border-radius;
}

html[dir="rtl"] .has-value .flood-to-value::-ms-fill-lower {
    border-radius: 0 globals.$border-radius globals.$border-radius 0;
}

input[type=range]::-ms-fill-upper {
    background: transparent;
    border-top-right-radius: globals.$border-radius;
    border-bottom-right-radius: globals.$border-radius;
}

html[dir="rtl"] input[type=range]::-ms-fill-upper {
    border-radius: globals.$border-radius 0 0 globals.$border-radius;
}

input[type=range]:focus {
    border: none;
}

input[type=range]:focus::-ms-fill-lower {
    background: transparent;
}

.has-value .flood-to-value:focus::-ms-fill-lower {
    background: rgba(globals.$theme-primary-hover, .15) !important;
}

@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from https://stackoverflow.com/a/32202953/7077589 */
    /* Edge starts the margin from the thumb, not the track as other browsers do*/
    input[type=range] {
        margin: 0;
    }
}
