@use 'globals';

.o-question-media-external {
    .o-buttonandmessage-button {
        float: left;
        margin-right: 8px;
    }

    .o-media-frame {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 75%;
    }

    .o-media-frame-outline {
        background: linear-gradient(to right, globals.$borders 3px, transparent 3px) 0 0,
        linear-gradient(to right, globals.$borders 3px, transparent 3px) 0 100%,
        linear-gradient(to left, globals.$borders 3px, transparent 3px) 100% 0,
        linear-gradient(to left, globals.$borders 3px, transparent 3px) 100% 100%,
        linear-gradient(to bottom, globals.$borders 3px, transparent 3px) 0 0,
        linear-gradient(to bottom, globals.$borders 3px, transparent 3px) 100% 0,
        linear-gradient(to top, globals.$borders 3px, transparent 3px) 0 100%,
        linear-gradient(to top, globals.$borders 3px, transparent 3px) 100% 100%;
        background-color: globals.$white;
        background-repeat: no-repeat;
        background-size: 20px 20px;
    }

    .m-image-loader {
        transition: opacity 1s 0ms, z-index 0ms 0ms;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
        z-index: 20;
        background-image: url("/Survey/images/formal/loading.gif");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        pointer-events: none;
    }
}