@use 'globals';

$default-text-width: globals.$default-input-width;

.o-question-response:not(.o-question-combobox, .o-question-dropdown) {
    position: relative;
}

.o-combobox {
    input[type=text] {
        padding: 10px 16px;
        border-radius: globals.$text-border-radius;
        border: globals.$border-thickness solid globals.$borders;
        color: globals.$theme-primary;
        min-width: 3em;
        height: 19px;
        background-color: globals.$input-background;
        box-sizing: content-box;
        text-overflow: ellipsis;
        font-size: globals.$option-font-size;
        line-height: globals.$option-line-height;

        &.list-visible {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &.exact {
            color: globals.$input-text
        }
    }

    input:focus {
        border-color: globals.$theme-primary;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    input:focus-visible {
        outline: none;
    }

    input::-ms-clear {
        display: none !important;
    }

    input::-webkit-calendar-picker-indicator {
        display: none !important;
    }

    input::placeholder {
        color: globals.$placeholder;
    }
}

.o-dropdown {
    input[type=text] {
        padding: 10px 16px;
        border-radius: globals.$border-radius;
        border: globals.$border-thickness solid globals.$theme-primary;
        color: globals.$white;
        min-width: 3em;
        height: 19px;
        box-sizing: content-box;
        cursor: default;
        background: url("/Survey/images/white-chevron-down.png") right 12px center no-repeat globals.$theme-primary;
        text-overflow: ellipsis;
        font-size: globals.$option-font-size;
        line-height: globals.$option-line-height;

        &.manual-width {
            padding-right: 48px;
        }

        &.list-visible {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            background-image: url("/Survey/images/white-chevron-up.png");
        }

        &:not([data-readonly=true]):hover {
            background-color: globals.$theme-primary-hover;
        }
    }

    input::placeholder {
        color: globals.$white;
    }
}

html[dir="rtl"] .o-dropdown {
    input[type=text] {
        background: url("/Survey/images/white-chevron-down.png") left 12px center no-repeat globals.$theme-primary;

        &.manual-width {
            padding-right: 16px;
            padding-left: 48px;
        }

    }
}

.o-combobox ul,
.o-dropdown ul {
    list-style-type: none;
    margin: -1px 0 4px 0;
    padding: 0 0 8px 0;
    border: globals.$border-thickness solid globals.$theme-primary;
    border-bottom-left-radius: globals.$text-border-radius;
    border-bottom-right-radius: globals.$text-border-radius;
    background-color: globals.$input-background;
    position: absolute;
    max-height: 300px;
    overflow-y: auto;
    z-index: 10;
    min-width: 3em;
    left: -9999px;
    font-weight: 400;
    font-size: globals.$option-font-size;

    &.charrestriction {
        li:not(.a-list-placeholder-restriction) {
            display: none;
        }

        li.a-list-placeholder-restriction {
            display: block;
            padding: 12px 16px 4px 16px;
        }
    }

    &.empty {
        li.a-list-placeholder-empty {
            display: block;
            padding: 12px 16px 4px 16px;
        }
    }

    li.a-list-placeholder-empty {
        display: none;
    }

    li.a-list-placeholder-restriction {
        display: none;
    }

    &.visible {
        left: auto;
        display: block;
    }

    li {
        padding: 4px 16px;
        cursor: default;
        text-align: left;
    }

    li:not(.filter-hidden) {
        padding-top: 12px;
    }

    li:not(.filter-hidden) ~ li {
        padding-top: 4px;
    }

    li:hover {
        color: globals.$theme-primary-hover;
    }

    li.selected {
        color: globals.$theme-secondary;
        font-weight: globals.$standard-font-weight;
        background: rgba(globals.$theme-primary, .2);
    }

    li.filter-hidden {
        display: none;
    }
}

html[dir="rtl"] {
    .o-combobox ul,
    .o-dropdown ul {

        li {
            text-align: inherit;
        }

    }
}

.focus-control {
    .o-combobox ul,
    .o-dropdown ul {
        box-shadow: 0 11px 11px -9px rgba(0, 0, 0, 0.25);
    }
}