@use 'globals';

.bold {
    font-weight: 700;
}

.ltBold {
    font-weight: 500;
}

.caps {
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.minustwo {
    font-size: calc(#{globals.$standard-font-size} - 2pt);
}

.plustwo {
    font-size: calc(#{globals.$standard-font-size} + 2pt);
}

.minusfour {
    font-size: calc(#{globals.$standard-font-size} - 4pt);
}

.plusfour {
    font-size: calc(#{globals.$standard-font-size} + 4pt);
}

.sub {
    vertical-align: sub;
}

.sup,
.super {
    vertical-align: super;
}