@use 'globals';

@import 'fonts';
@import 'header';
@import 'navigation';
@import 'user-styles';
@import 'a-button';
@import 'a-icon-multistate';
@import 'a-input-multilineedit';
@import 'a-input-singlelineedit';
@import 'a-label';
@import 'm-list';
@import 'm-option-base';
@import 'm-question-cover';
@import 'm-structure-cell';
@import 'o-option-list';
@import 'o-question';
@import 'o-message';
@import 'o-question-slider';
@import 'o-question-datetime-recent';
@import 'a-input-thumbtop';
@import 'o-dropdown-thumbbottom';
@import 'o-select-combobox';
@import 'm-openend-search';
@import 'o-structure-table';
@import 't-question-base';
@import 'o-question-scale';
@import 'o-question-media';
@import 'a-figure';

html {
    height: 95vh;
    width: auto;
}

body {
    background: globals.$background;
    color: globals.$titles;
    padding: 0;
    margin: 0 2em;
    display: flex;
    flex-direction: column;
    font-size: globals.$standard-font-size;
    line-height: globals.$standard-line-height;
    font-weight: globals.$standard-font-weight;
}

html[dir=rtl] {
    body,
    input,
    textarea,
    select {
        font-family: globals.$rtl-font;
    }
}

body,
input,
textarea,
select {
    font-family: globals.$primary-font;
}

body > form {
    min-height: 95vh;
    max-height: -webkit-fill-available;
    display: grid;
    grid-template-columns: 1fr minmax(globals.$min-display-width, globals.$max-display-width) 1fr;
    grid-template-rows: 130px auto 110px;
    grid-template-areas:
    ". header ."
    ". content ."
    ". footer .";
}

.header {
    grid-area: header;
    box-sizing: border-box;
    height: 130px;
    padding-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: globals.$border-thickness solid globals.$borders;
}

.surroundcontent {
    grid-area: content;
    min-height: 66vh;
}

.footer {
    grid-area: footer;
    height: 110px;
    border-top: globals.$border-thickness solid globals.$borders;
    padding: 1em 0;
}

.hiddencontrol {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
}

[data-hidden="true"] {
    visibility: hidden;
}

.hidden {
    display: none;
}

.unavailable {
    visibility: hidden;
}

.nowrap {
    white-space: nowrap;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.align-right {
    text-align: right !important;
}

// screen size overrides - must follow the original declaration to work
@media screen and (max-width: 1023px) {
    body {
        margin: 0;
    }

    .header {
        height: 75px;
        padding: 0 1em .8em 1em;
    }

    .footer {
        padding: 1em;
    }

    body > form {
        grid-template-rows: 75px auto 110px;
    }
}

// iOS disabled inputs normally become translucent - we want to define our own styles
input:disabled {
    opacity: 1;
}

// global style for focused controls
.focus-control {
    input:focus {
        //box-shadow: globals.$drop-shadow;
    }
}

// global focus border style
*:focus,
*:focus-visible,
*:focus-within,
*:focus + label,
*:focus-visible + label,
*:focus-within + label {
    border-color: globals.$theme-primary !important;
}

/* Standardises the placeholder colour - these rules cannot be combined */
::-moz-placeholder {
    color: globals.$placeholder;
    font-size: globals.$placeholder-font-size;
    opacity: 1;
}

:-ms-input-placeholder {
    color: globals.$placeholder;
    font-size: globals.$placeholder-font-size;
    opacity: 1;
}

::placeholder {
    color: globals.$placeholder;
    font-size: globals.$placeholder-font-size;
    opacity: 1;
}

:-ms-input-placeholder {
    color: globals.$placeholder;
    font-size: globals.$placeholder-font-size;
}

::-ms-input-placeholder {
    color: globals.$placeholder;
    font-size: globals.$placeholder-font-size;
}

sup {
    vertical-align: top;
    font-size: 0.6em;
    position: relative;
    top: -4px;
}

sub {
    vertical-align: bottom;
    font-size: 0.6em;
    position: relative;
    top: 4px;
}

.width-20 {
    width: 20%;
}

.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-70 {
    width: 70%;
}

.width-80 {
    width: 80%;
}

.width-90 {
    width: 90%;
}

question,
questions {
    display: block;
}

questions[data-position="side"] {
    question {
        display: inline-block;
        vertical-align: top;
    }

    question + question {
        margin-left: 1em;
    }
}

