.a-icon-multistate {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url("../images/Checkbox.png");
    background-position-x: 16px;
}

input[type=checkbox]:checked + label > .a-icon-multistate {
    background-position-x: 0;
}
