input[type=checkbox] {
    width: 1em;
    height: 1em;
    appearance: none;
    margin: 0;
    border-radius: 5px;
    border: 1px solid #455B97;
    outline: none;
    position: relative;
    box-sizing: border-box;
}
input[type=checkbox]:checked {
    border-color: #449B9B;
    background-color: #449B9B;
}
input[type=checkbox]:checked::before {
    content: '\2713';
    color: white;
    position: absolute;
    left: .1em;
    top: -.1em;
}