.a-input-singlelineedit
{
    padding: 10px 16px;
    border-radius: 10px;
    border: 1px solid #8797C8;
    color: #757575;
    margin: 0 0 .5em 0;
    min-width: 197px;
}

.a-input-singlelineedit:last-of-type {
    margin-bottom:0;
}