textarea
{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #8797C8;
    box-sizing: border-box;
    border-radius: 10px;
}

.sidebyside .o-question-response textarea.a-input-multilineedit {
    margin-bottom: .5em;
}