textarea
{
    width: 100%;
    background: #FAFAFA;
    border: 1px solid #8797C8;
    box-sizing: border-box;
    border-radius: 10px;
    padding: .5em;
    min-height: 100px;
}

textarea:active,
textarea:focus,
textarea:focus-visible,
textarea:focus-within
{
    outline: none;
}

textarea:read-only {
    border-color: #999999;
    color: #999999;
}