.question-container {
    padding: 1em 0;
    border-bottom: 1px solid #D0DAE6;
}

.question-container:last-child {
    padding-bottom: 0;
}

.surroundcontent>div:last-child {
    border-bottom: none;
}

.sidebyside .o-question-errorandinstruction {

}

.sidebyside .o-question-core {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sidebyside .o-question-information {
    margin-right: 1em;
}

.sidebyside .o-question-information,
.sidebyside .o-question-response {
    flex-grow: 1;
    flex-basis: 0;
}

.sidebyside .question-description label {
    display: block;
}

.question-container.vertical {

}