.question-container {
    padding: 1em;
}

.question-container.sidebyside .o-question-errorandinstruction {
    display: block;
}

.sidebyside .o-question-core {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sidebyside .o-question-information,
.sidebyside .o-question-response {
    flex-grow: 1;
    flex-basis: 0;
}

.question-container.sidebyside .question-description label {
    display: block;
}

.question-container.vertical {

}