m-input-singlelineedit {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;

    :where(.a-label-prelabel, .a-label-postlabel) {
        border: var(--border-thickness) solid var(--color-border);
        padding: var(--space2) var(--space4);
    }

    .a-label-prelabel {
        border-inline-end-width: 0;
        border-radius: var(--theme-border-radius-small) 0 0
            var(--theme-border-radius-small);
    }

    .a-label-postlabel {
        border-inline-start-width: 0;
        border-radius: 0 var(--theme-border-radius-small)
            var(--theme-border-radius-small) 0;
    }
}
